* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');
.main {
    width: 100%;
    height: 100vh;
    background: url('../image/bg1.jpeg');
    background-size: cover;
}

.overlay {

    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.2);

}

.title {
    color: white;
    margin-top: 10px;
    text-align: center;
    font-size: 2.4rem;
}

.col{
    width: 1000px;
    height: 100px;
    margin: 20px auto;
    display: flex;
    justify-content: center ;  
    color: white;
}

.col div{
    width: 250px;
    text-align: center;
}

input{
    height: 50px;
    width: 60%;
    background-color: rgba(255, 255, 255, 0.9);
    border-color: transparent;
    border-radius: 8px;
    text-align: center;
    font-size: 24px;

}
